*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}
header{
    background-color: rgb(243, 131, 131);

    h1{
        
    }

    nav{
        text-align: justify;
    }

}